*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: white
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
    padding: 16px;
}

.nav-links{
    border-color: red;
    display: flex;
    list-style-type: none;
    gap:32px;
    margin: 0;
    font-weight: 500;
}

.nav-button{
    padding: 12.5px 16px;
    color: white;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}